In [1]:
import pandas as pd
import knn

df = pd.read_csv('../datasets/knn/glass.csv')

In [2]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
df.Type.unique()

array([1, 2, 3, 5, 6, 7], dtype=int64)

In [4]:
classifier = knn.KNNClassifier(df,[0,1,2,3,4,5,6,7,8],9)

In [5]:
classifier.x_labels

['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']

In [6]:
classifier.y_label

'Type'

In [7]:
classifier.df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [8]:
a = df.loc[170].copy()
a

RI       1.52369
Na      13.44000
Mg       0.00000
Al       1.58000
Si      72.22000
K        0.32000
Ca      12.24000
Ba       0.00000
Fe       0.00000
Type     5.00000
Name: 170, dtype: float64

In [9]:
a = list(a)
a = a[:len(a)-1]
a

[1.52369, 13.44, 0.0, 1.58, 72.22, 0.32, 12.24, 0.0, 0.0]

In [10]:
classifier.predict(a,11)

Time taken to predict : 0.2134 s

5

In [11]:
classifier.y_label

'Type'

In [12]:
df.iloc[1][classifier.y_label]

1.0

In [13]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [14]:
df.min()

RI       1.51115
Na      10.73000
Mg       0.00000
Al       0.29000
Si      69.81000
K        0.00000
Ca       5.43000
Ba       0.00000
Fe       0.00000
Type     1.00000
dtype: float64

In [15]:
df.nsmallest(5, columns = 'RI')['Type'].mode()

0    6
dtype: int64