In [1]:
import pandas as pd
import logreg as lr

df = pd.read_csv('../datasets/logreg/data.csv')
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [3]:
del df['Unnamed: 32']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.4+ KB

In [7]:
classifier = lr.LogisticRegression()

In [12]:
classifier.train(df,[i for i in range(2,32)],1,0.95,15)

Epoch : 1 | Accuracy : 0.37258347978910367 | Time : 0.6991 s
Epoch : 2 | Accuracy : 0.37258347978910367 | Time : 0.6171 s
Epoch : 3 | Accuracy : 0.37258347978910367 | Time : 0.773 s
Epoch : 4 | Accuracy : 0.37258347978910367 | Time : 0.8064 s
Epoch : 5 | Accuracy : 0.37258347978910367 | Time : 0.6405 s
Epoch : 6 | Accuracy : 0.37258347978910367 | Time : 0.7883 s
Epoch : 7 | Accuracy : 0.37258347978910367 | Time : 0.7649 s
Epoch : 8 | Accuracy : 0.37258347978910367 | Time : 0.7816 s
Epoch : 9 | Accuracy : 0.37258347978910367 | Time : 0.7884 s
Epoch : 10 | Accuracy : 0.37258347978910367 | Time : 0.7034 s
Epoch : 11 | Accuracy : 0.37258347978910367 | Time : 0.9007 s
Epoch : 12 | Accuracy : 0.37258347978910367 | Time : 0.6327 s
Epoch : 13 | Accuracy : 0.37258347978910367 | Time : 0.7125 s
Epoch : 14 | Accuracy : 0.37258347978910367 | Time : 0.8357 s
Epoch : 15 | Accuracy : 0.37258347978910367 | Time : 0.6708 s

In [9]:
df2 = pd.read_csv('../datasets/logreg/dataset.csv')
df2.head()

         X1        X2  Y
0  2.781084  2.550537  0
1  1.465489  2.362125  0
2  3.396562  4.400294  0
3  1.388070  1.850220  0
4  3.064072  3.005306  0

In [10]:
classifier.train(df2,[0,1],2,0.3,10)

Epoch : 1 | Accuracy : 0.5 | Time : 0.003 s
Epoch : 2 | Accuracy : 0.6 | Time : 0.0049 s
Epoch : 3 | Accuracy : 0.8 | Time : 0.005 s
Epoch : 4 | Accuracy : 0.9 | Time : 0.0059 s
Epoch : 5 | Accuracy : 1.0 | Time : 0.0078 s
Epoch : 6 | Accuracy : 1.0 | Time : 0.004 s
Epoch : 7 | Accuracy : 1.0 | Time : 0.0046 s
Epoch : 8 | Accuracy : 1.0 | Time : 0.0077 s
Epoch : 9 | Accuracy : 1.0 | Time : 0.0089 s
Epoch : 10 | Accuracy : 1.0 | Time : 0.008 s

In [13]:
df3 = pd.read_csv('../datasets/logreg/data1.csv')

In [19]:
df3.head()

   SNo       X_1       X_2   y
0    0 -0.869144  0.389310  0.0
1    1 -0.993467 -0.610591  0.0
2    2 -0.834064  0.239236  0.0
3    3 -0.136471  0.632003  1.0
4    4  0.403887  0.310784  1.0

In [18]:
df3['y '].unique()

array([0., 1.])

In [24]:
classifier.train(df3,[1,2],3,0.9,20)

Epoch : 1 | Accuracy : 0.87 | Time : 0.016 s
Epoch : 2 | Accuracy : 0.92 | Time : 0.0179 s
Epoch : 3 | Accuracy : 0.92 | Time : 0.015 s
Epoch : 4 | Accuracy : 0.92 | Time : 0.016 s
Epoch : 5 | Accuracy : 0.91 | Time : 0.017 s
Epoch : 6 | Accuracy : 0.92 | Time : 0.015 s
Epoch : 7 | Accuracy : 0.92 | Time : 0.015 s
Epoch : 8 | Accuracy : 0.92 | Time : 0.015 s
Epoch : 9 | Accuracy : 0.92 | Time : 0.015 s
Epoch : 10 | Accuracy : 0.91 | Time : 0.015 s
Epoch : 11 | Accuracy : 0.91 | Time : 0.015 s
Epoch : 12 | Accuracy : 0.91 | Time : 0.015 s
Epoch : 13 | Accuracy : 0.91 | Time : 0.015 s
Epoch : 14 | Accuracy : 0.91 | Time : 0.0129 s
Epoch : 15 | Accuracy : 0.91 | Time : 0.012 s
Epoch : 16 | Accuracy : 0.91 | Time : 0.013 s
Epoch : 17 | Accuracy : 0.91 | Time : 0.0129 s
Epoch : 18 | Accuracy : 0.91 | Time : 0.014 s
Epoch : 19 | Accuracy : 0.91 | Time : 0.013 s
Epoch : 20 | Accuracy : 0.91 | Time : 0.012 s

In [26]:
classifier.predict([-0.136471,0.632003])

1.0